.single{
    width: 100vw;
    position: absolute;
    top: 60px;
    min-height: calc(100vh - 60px);
    display: flex;
}
@media (max-width : 768px) {
    .single{
        display: flex;
        flex-direction: column;
    }
}